html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;

}
.sky,.sun,.grass,.road{
    position: relative;
}
.sky{
    height: 30%;
    background-color:skyblue;
}
.grass{
    height: 20%;
    background-color:green;
}
.road{
    height: 40%;
    width: 100%;
    background-color: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom:10px solid gray ;
}

.line{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}
.car{
    position: absolute;
    top:0px ;
    left:0px;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode:both;
    /* animation-fill-mode: backwards;
    animation:forwards; */
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(.42,0,.58,1);
}
.bike{
    position:absolute;
    top:100px;
    left:0px ;
    animation-name: drive;
    animation-duration:5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-direction:reverse;

}
@keyframes drive{
from { transform: translatex(20px);}
to {transform: translatex(500px);}   
}
